.historicoMensual__wrapper {
    height: 100%;
    border-radius: 0.65rem;
    background-color: white;
    padding: 1.5rem;
    min-height: 31rem;
    margin:0 0 2rem 0;
}

.titulo{

font-size: 2rem;

}